<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="insomniac.insomniacv112" >

    <uses-sdk android:minSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar" >
        <activity
            android:name=".StartMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewAccountActivity"
            android:label="@string/title_activity_new_account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadAccountActivity"
            android:label="@string/title_activity_load_account"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".TownActivity"
            android:label="@string/title_activity_town"
            android:screenOrientation="portrait" />
        <activity
            android:name="model.NavigationActivity"
            android:label="@string/title_activity_navigation" />
        <activity
            android:name=".ShopActivity"
            android:label="@string/title_activity_shop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BlacksmithActivity"
            android:label="@string/title_activity_blacksmith"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InventoryActivity"
            android:label="@string/title_activity_show_inventory"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
 >
        </activity>
        <activity
            android:name=".WildernessActivity"
            android:label="@string/title_activity_wilderness"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="model.TransitionActivity"
            android:label="@string/title_activity_transition" >
        </activity>
        <activity
            android:name=".TradeActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="model.TabActivity"
            android:label="@string/title_activity_tab" >
        </activity>
    </application>

</manifest>
